

h1{
	color:gray;
	background: url(http://area51.pe/logo/logo_transparente_negro.png);
	background-size: 5%;
	background-repeat: no-repeat;
	text-indent: 70px;
	/* http://area51.pe/logo/logo_transparente_negro.png */
}